[user]
	name = Yaniv Savir
	email = yaniv@yanivsavir.com
[credential]
	helper = cache
[core]
	editor = vim
	excludesfile = /Users/Yaniv/.gitignore
	pager = delta

[interactive]
    diffFilter = delta --color-only
    light = true

[delta]
    navigate = true
    line-numbers = true

[color "status"]
	added = green
  deleted = magenta
  untracked = yellow
  changed = blue
[init]
	defaultBranch = main
[merge]
    conflictStyle = zdiff3
