[user]
	name = Yaniv Savir
	email = saviry@gmail.com
[credential]
	helper = cache
[core]
	editor = vim
	excludesfile = /Users/Yaniv/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[color "status"]
	added = green
  deleted = magenta
  untracked = yellow
  changed = blue
